  .main-container {
    display: flex;
    width: 100%;
  }

  .left-column {
    width: 40%;
    height: 100vh;
    padding-top: 20%;
    background-color: green;
  }

  .right-column {
    width: 60%;
    height: 100vh;
    padding-top: 20%;
    background-color: white;
  }
  
  